node_modules
bower_components
public/dist
config/keys.json

npm-debug.log

.DS_Store
.Spotlight-V100
.apdisk
.AppleDouble
.LSOverride
.Trashes
.AppleDB
.AppleDesktop

Network Trash Folder
Temporary Items

.grunt