@font-face {
  font-family: FiraSansLight;
  src: url('../../bower_components/fira/eot/FiraSans-Light.eot?#iefix') format('embedded-opentype'), 
       url('../../bower_components/fira/woff/FiraSans-Light.woff') format('woff'), 
       url('../../bower_components/fira/ttf/FiraSans-Light.ttf')  format('truetype'),
       url('../../bower_components/fira/otf/FiraSans-Light.otf') format('opentype');
}

@font-face {
  font-family: FiraSansMedium;
  src: url('../../bower_components/fira/eot/FiraSans-Medium.eot?#iefix') format('embedded-opentype'), 
       url('../../bower_components/fira/woff/FiraSans-Medium.woff') format('woff'), 
       url('../../bower_components/fira/ttf/FiraSans-Medium.ttf')  format('truetype'),
       url('../../bower_components/fira/otf/FiraSans-Medium.otf') format('opentype');
}

body {
  background: url(../img/bg.png) repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contents {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}

h1 {
  color: white;
  font-size: 52px;
  font-family: FiraSansMedium;
}

h3 {
  color: white;
  margin-top: -3px;
  font-family: FiraSansLight;
}

hr {
  margin-top: -1px;
  border-width: 2px 0;
  width: 50%;
}