/* Importing new fonts */
@font-face {
  font-family: FiraSansLight;
  src: url('../../bower_components/fira/eot/FiraSans-Light.eot?#iefix') format('embedded-opentype'), 
       url('../../bower_components/fira/woff/FiraSans-Light.woff') format('woff'), 
       url('../../bower_components/fira/ttf/FiraSans-Light.ttf')  format('truetype'),
       url('../../bower_components/fira/otf/FiraSans-Light.otf') format('opentype');
}

@font-face {
  font-family: FiraSansMedium;
  src: url('../../bower_components/fira/eot/FiraSans-Medium.eot?#iefix') format('embedded-opentype'), 
       url('../../bower_components/fira/woff/FiraSans-Medium.woff') format('woff'), 
       url('../../bower_components/fira/ttf/FiraSans-Medium.ttf')  format('truetype'),
       url('../../bower_components/fira/otf/FiraSans-Medium.otf') format('opentype');
}
/* --- */

/* Changing font of the headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: FiraSansMedium;
}

/* Changing font of the text */
a,
p {
  font-family: FiraSansLight;
}

/* Add this padding to push the particles down */
body {
  padding-top: 60px;
}

/* Causes the element to take up the full screen (with the navbar) */
.full-screen {
  height: calc(100vh - 60px);
}

/* Removes the margin from the navbar */
#main-nav {
  margin-bottom: 0;
}

/* Centers an element vertically in its parent */
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Makes the element transparent */
.transparent {
  background: rgba(48, 48, 48, 0.4);
}

/* Fixing the width of the icon so each button is the same size */
.icon-fixed-width {
  width: 1.28571429em;
  display: inline-block;
  text-align: center;
}

/* Styling for all of the social buttons */
.social-container {
  padding-top: 20px;
}

/* Gives each social button a colour transition */
.social {
  color: #ffffff;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}

/* Gives each social button a finger icon when moused over */
.social:hover {
  cursor: pointer;
}

/* Each social button has a colour transition on mouse over */
.facebook:hover {
  color: #234C8A;
}

.github:hover {
  color: #343434;
}

.linkedin:hover {
  color: #0F64AC;
}

.e-mail:hover {
  color: #F18300;
}

/* Particles take up the entire screen on the landing page */
#particles {
  position: absolute;
  height: calc(100vh - 60px);
  width: 100%;
}