<div class="outer">
  <div class="contents">
    <div class="header">
      <h1 class="text-center">Dylan Aspden</h1>
      <h3 class="text-center">Full Stack Developer</h3>
      <hr>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <div>
            <a href="https://www.linkedin.com/profile/view?id=211247258" 
              class="btn btn-default btn-md"
              button-animate>
                <i class="fa fa-linkedin"></i>
                LinkedIn
            </a>

            <a href="https://www.facebook.com/dylan.aspden.9" 
              class="btn btn-default btn-md"
              button-animate>
                <i class="fa fa-facebook"></i>
                Facebook
            </a>

            <a href="https://github.com/dhaspden" 
              class="btn btn-default btn-md"
              button-animate>
                <i class="fa fa-github"></i>
                Github
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>