<div class="outer">
  <div class="contents">
    <div class="header">
      <h1 class="my-name">Dylan Aspden</h1>
      <h3 class="my-title">Full Stack Developer</h3>
      <hr>
    </div>

    <div class="container">
      <div class="row">
        <div class="text-center">
          <a href="mailto:dhaspden@gmail.com">
              <i class="fa fa-envelope-square fa-3x icon-fixed-width e-mail social"  button-animate></i>
          </a>

          <a href="https://www.linkedin.com/profile/view?id=211247258">
              <i class="fa fa-linkedin-square fa-3x icon-fixed-width linkedin social"  button-animate></i>
          </a>

          <a href="https://www.facebook.com/dylan.aspden.9">
              <i class="fa fa-facebook-square fa-3x icon-fixed-width facebook social"  button-animate></i>
          </a>

          <a href="https://github.com/dhaspden">
              <i class="fa fa-github-square fa-3x icon-fixed-width github social"  button-animate></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>