<div class="outer">
  <div class="contents">
    <div class="header">
      <h1 class="my-name">Dylan Aspden</h1>
      <h3 class="my-title">Full Stack Developer</h3>
      <hr>
    </div>

    <div class="container">
      <div class="row">
        <div class="text-center">
          <a href="mailto:dhaspden@gmail.com" 
            class="btn btn-default btn-sm social e-mail"
            button-animate>
              <i class="fa fa-envelope fa-2x icon-fixed-width"></i>
          </a>

          <a href="https://www.linkedin.com/profile/view?id=211247258" 
            class="btn btn-default btn-sm social linkedin"
            button-animate>
              <i class="fa fa-linkedin fa-2x icon-fixed-width"></i>
          </a>

          <a href="https://www.facebook.com/dylan.aspden.9" 
            class="btn btn-default btn-sm social facebook"
            button-animate>
              <i class="fa fa-facebook fa-2x icon-fixed-width"></i>
          </a>

          <a href="https://github.com/dhaspden" 
            class="btn btn-default btn-sm social github"
            button-animate>
              <i class="fa fa-github fa-2x icon-fixed-width"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>